<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>New Thesis Application</title>
	<link rel="stylesheet" type="text/css" href="/style.css">
</head>

<body>
	<h2>New Thesis Application</h2>
	<div class="container">
		<table>
			<tr>
				<th>Thesis ID:</th>
				<td th:text="${thesis.idt}"></td>
			</tr>
			<tr>
				<th>Title (LV):</th>
				<td th:text="${thesis.titleLv}"></td>
			</tr>
			<tr>
				<th>Title (EN):</th>
				<td th:text="${thesis.titleEn}"></td>
			</tr>
			<tr>
				<th>Applications:</th>
				<td th:text="${thesis.applications}"></td>
			</tr>
			<tr>
				<th>Areas:</th>
				<td th:text="${thesis.areas}"></td>
			</tr>
			<tr>
				<th>Complexity:</th>
				<td th:text="${thesis.complexity}"></td>
			</tr>
			<tr>
				<th>Public Notes:</th>
				<td th:text="${thesis.publicNotes}"></td>
			</tr>
			<tr>
				<th>Supervisor:</th>
				<td th:text="${thesis.supervisor?.name + ' ' + thesis.supervisor?.surname}"></td>
			</tr>
		</table>
	</div>
	<div class="container">
<form th:action="@{'/application/addNew/'}"  th:object="${application}" method="post">


			<table>
				<tr>
					<th>Aim:</th>
					<td>
						<textarea id="aim" name="aim" rows="" cols="50" required th:field="*{aim}"></textarea>
						<br>
							<small th:errors="*{aim}" class="error"></small>
					</td>
				</tr>
				<tr>
					<th>Tasks:</th>
					<td>
						<textarea id="tasks" name="tasks" rows="8" cols="50" required th:field="*{tasks}"></textarea>
						<br>
							<small th:errors="*{tasks}" class="error"></small>
					</td>
				</tr>
				<tr>
					<th>Student:</th>
					<td>
						<select th:field="*{student}">
							<option value="">Select Student</option>
							<option th:each="student : ${students}" th:value="${student.idp}"
								th:text="${student.name + ' ' + student.surname}"></option>
						</select>
						<br>
							<small th:errors="*{student}" class="error"></small>
					</td>
				</tr>
			</table>
			<div align="center">
				<input type="hidden" id="thesis" name="thesis" th:value="${thesis}" />
				<button type="submit">Submit Application</button>
				<button type="button" onclick="location.href='/thesis/apply'">Cancel</button>
			</div>
		</form>
	</div>
</body>

</html>