<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>Update Thesis</title>
	<link rel="stylesheet" type="text/css" href="/style.css">
</head>

<body>
	<nav>
		<button type="button" onclick="location.href='/logout'"
			style="position: absolute; top: 10px; right: 10px;">Logout</button>
	</nav>
	<h2>Update Thesis</h2>
	<!--<form th:action="@{/thesis/update/{id}(id=${thesis.idt})}" th:object="${thesis}" method="post"> -->
	<form th:action="@{/professor/update/{id}(id=${thesis.idt})}" th:object="${thesis}" method="post">

		<div class="container">
			<table>
				<tr>
					<th>Title (LV):</th>
					<td>
						<input type="text" th:field="*{titleLv}" required>
						<br>
						<small th:errors="*{titleLv}"></small>
					</td>
				</tr>
				<tr>
					<th>Title (EN):</th>
					<td>
						<input type="text" th:field="*{titleEn}" required>
						<br>
						<small th:errors="*{titleEn}"></small>
					</td>
				</tr>
				<tr>
					<th>Areas:</th>
					<td>
						<select th:field="*{areas}" multiple="multiple">
							<option th:each="area : ${areas}" th:value="${area}" th:text="${area}"></option>
						</select>
						<br>
						<small th:errors="*{areas}"></small>
					</td>
				</tr>
				<tr>
					<th>Complexity:</th>
					<td>
						<select th:field="*{complexity}">
							<option th:each="complexity : ${complexities}" th:value="${complexity}"
								th:text="${complexity}"></option>
						</select>
						<br>
						<small th:errors="*{complexity}"></small>
					</td>
				</tr>
				<tr>
					<th>Private Notes:</th>
					<td>
						<textarea th:field="*{privateNotes}"></textarea>
						<br>
						<small th:errors="*{privateNotes}"></small>
					</td>
				</tr>
				<tr>
					<th>Public Notes:</th>
					<td>
						<textarea th:field="*{publicNotes}" required></textarea>
						<br>
						<small th:errors="*{publicNotes}"></small>
					</td>
				</tr>
				<tr>
					<th>Assigned Student:</th>
					<td>
						<select th:field="*{assignedStudent}">
							<option value="">Select Student</option>
							<option th:each="student : ${students}" th:value="${student.idp}"
								th:text="${student.name + ' ' + student.surname}"></option>
						</select>
						<br>
						<small th:errors="*{assignedStudent}"></small>
					</td>
				</tr>
				<tr>
					<th>Supervisor:</th>
					<td>
						<select th:field="*{supervisor}" required>
							<option value="">Select Supervisor</option>
							<option th:each="person : ${supervisors}" th:value="${person.idp}"
								th:text="${person.name + ' ' + person.surname}"></option>
						</select>
						<br>
						<small th:errors="*{supervisor}"></small>
					</td>
				</tr>
			</table>
		</div>
		<div align="center">

			<button type="submit">Update</button>
			<!-- <button type="button" onclick="location.href='/thesis/showAll'">Cancel</button> -->
			<button type="button" onclick="location.href='/professor/showAll'">Cancel</button>
		</div>
	</form>
</body>

</html>