<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>Update Thesis</title>
	<link rel="stylesheet" type="text/css" href="/style.css">
</head>

<body>
	<nav>
		<button type="button" th:text="#{switch-en}" onclick="window.location.href='?localeData=en'"
			style="position: absolute; top: 10px; right: 70px;">
			<img src="flag_en.png" alt="English" style="width: 20px; height: 20px;">
		</button>
		<button type="button" th:text="#{switch-root}" onclick="window.location.href='?localeData=root'"
			style="position: absolute; top: 10px; right: 10px;">
			<img src="flag_lv.png" alt="Latvian" style="width: 20px; height: 20px;">
		</button>
		<button type="button" onclick="location.href='/logout'" style="position: absolute; top: 10px; right: 130px;"
			th:text="#{logout-button}"></button>
	</nav>
	<h2 th:text="#{update-thesis}"></h2>
	<!--<form th:action="@{/thesis/update/{id}(id=${thesis.idt})}" th:object="${thesis}" method="post"> -->
	<form th:action="@{/professor/update/{id}(id=${thesis.idt})}" th:object="${thesis}" method="post">

		<div class="container">
			<table>
				<tr>
					<th th:text="#{thesis-title-lv}"></th>
					<td>
						<input type="text" th:field="*{titleLv}" required>
						<br>
						<small th:errors="*{titleLv}"></small>
					</td>
				</tr>
				<tr>
					<th th:text="#{thesis-title-en}"></th>
					<td>
						<input type="text" th:field="*{titleEn}" required>
						<br>
						<small th:errors="*{titleEn}"></small>
					</td>
				</tr>
				<tr>
					<th th:text="#{thesis-areas}"></th>
					<td>
						<select th:field="*{areas}" multiple="multiple">
							<option th:each="area : ${areas}" th:value="${area}" th:text="${area}"></option>
						</select>
						<br>
						<small th:errors="*{areas}"></small>
					</td>
				</tr>
				<tr>
					<th th:text="#{thesis-complexity}"></th>
					<td>
						<select th:field="*{complexity}">
							<option th:each="complexity : ${complexities}" th:value="${complexity}"
								th:text="${complexity}"></option>
						</select>
						<br>
						<small th:errors="*{complexity}"></small>
					</td>
				</tr>
				<tr>
					<th th:text="#{thesis-private-notes}"></th>
					<td>
						<textarea th:field="*{privateNotes}"></textarea>
						<br>
						<small th:errors="*{privateNotes}"></small>
					</td>
				</tr>
				<tr>
					<th th:text="#{thesis-public-notes}"></th>
					<td>
						<textarea th:field="*{publicNotes}" required></textarea>
						<br>
						<small th:errors="*{publicNotes}"></small>
					</td>
				</tr>
				<tr>
					<th th:text="#{thesis-assigned-student}"></th>
					<td>
						<select th:field="*{assignedStudent}">
							<option value="" th:text="#{select-student}"></option>
							<option th:each="student : ${students}" th:value="${student.idp}"
								th:text="${student.name + ' ' + student.surname}"></option>
						</select>
						<br>
						<small th:errors="*{assignedStudent}"></small>
					</td>
				</tr>
				<tr>
					<th th:text="#{study-program}">:</th>
					<td>
						<select th:field="*{programms}" required multiple="multiple">
							<option value="" th:text="#{study-program-select}"></option>
							<option th:each="program : ${programms}" th:value="${program.idsp}"
								th:text="${program.level}"></option>
						</select>
						<br>
						<small th:errors="*{programms}"></small>
					</td>
				</tr>
				<tr>
					<th th:text="#{thesis-supervisor}"></th>
					<td>
						<select th:field="*{supervisor}" required>
							<option value="" th:text="#{select-supervisor}"></option>
							<option th:each="person : ${supervisors}" th:value="${person.idp}"
								th:text="${person.name + ' ' + person.surname}"></option>
						</select>
						<br>
						<small th:errors="*{supervisor}"></small>
					</td>
				</tr>
			</table>
		</div>
		<div align="center">

			<button type="submit" th:text="#{update-button}"></button>
			<!-- <button type="button" onclick="location.href='/thesis/showAll'">Cancel</button> -->
			<button type="button" onclick="location.href='/professor/showAll'" th:text="#{cancel-button}"></button>
		</div>
	</form>
</body>

</html>